*{
    margin: 0px;
}

body{
    margin: 0px;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.container{
    width: 100vw;
    height: 100vh;
    --border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    background-image: url('../HOMOLOGA/img/background_login.png') ;
    --background-image: url('img/login2.png') ;
    background-repeat: no-repeat;
    background-size:  100vw 100vh;
    background-color: #0b34b7;
}

.acao{
    display: flex;
    background-color: white;
    width: 950px;
    height: 70%;
    border-radius: 15px;
    --flex-direction: inline;
    justify-content: center;
    align-items: center;
    border: 6px solid #041E9B; 
}

.escolhas{  
    margin-top: -80px;
    display: flex;
    background-color: white;
    width: 950px;
    height: 15%;
    border-radius: 15px;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    border: 6px solid #041E9B; 
}

.dropzone{
    margin-left: -50px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.dropzone2{
    margin-left: -50px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.drag{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid blue;
    width: 100px;
    height: 100px;  
}

.conteudo{
  
    border: 1px solid green;
    width: 50px;
    height: 50px;  
}

input[type=submit] {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:25px ;
  }
  
  input[type=submit]:hover {
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:25px ;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* Modal Content */
  .modal-content {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    margin-left: 250px;
    margin-right: 0px;
  }
  
  /* The Close Button */
  .close {
   
    color: black;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .p3{
    margin-right: 40px;
    color: white;
    font-size: 20px;

  }