
.progress-barr{
  
    height: 10px;
    padding: 2px;
    
    display: flex;
  }
  
  .progress-barr::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
    transition: all 0.2s ease;
  }